@import '/src/app/shared/styles/variables';
.primary {
    width: 428px;
    height: 50px;

     background-color:  $primaryColor;
    color:white;
  }
  .primary:hover {
    background:  $secondaryColor;
    transition: all .3s linear;
  }
  input:focus{
    border-color:  $primaryColor ;
    box-shadow: 0 0 2px 2px $primaryColor;
    
    }
    .register{
text-decoration: none;
cursor: pointer;
margin-left: 105px;
color: $secondaryColor;
&:hover{
color: $primaryColor;
}
    }