<footer>
    <div class="conteiner">
        <div class="footer-top">
            <img src="assets/images/decor-img-1.svg" class="decor-img left" alt="">
            <img src="assets/images/decor-img-2.svg" class="decor-img right" alt="">
        </div>
     
        <div class="footer d-flex">
         
            <div class="row ">
                <div class="footer-info">
                    <a href=""  >
                        <img src="assets/images/logo-pizza-red.svg" class="footer-logo" alt="">
                    </a>
                    <div class="footer-phone">
                        <a href="tel:+380971830618">+38 097 18 306 18 </a>
                        <p>нд-чт 09:30 − 21:00 <br> пт- сб 09:30 − 22:00 <br></p>
                    </div>
                    <div class="social">
                        <ul class="nav ">
                            <li class="nav-item">
                                <a href="https://www.facebook.com/pizza.mammaitaliana" >
                                    <img src="assets/images/i-facebook.svg" >
                                    </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.instagram.com/_mapizza_/?igshid=NmNmNjAwNzg%3D" >
                                    <img src="assets/images/i-instagram.svg" alt="">
                                    </a>
                            </li>
                            
                            <li class="nav-item">
                                <a href="https://www.youtube.com/watch?v=EkfysYf80Ak" >
                                    <img src="assets/images/i-you-tube.svg" alt="">
                                    </a>
                            </li>
                          </ul>
                    
                    </div>
                    <div class="title-download-app">
                        Завантажуйте додаток</div>
                        <ul class="nav items-download-app ">
                            <li class="nav-item">
                            <a href="https://apps.apple.com/us/app/ma-pizza/id1596914596" rel="nofollow">
                            <img src="assets/images/app-store-download.svg" alt="">
                            </a></li><li class="nav-item">
                            <a href="https://play.google.com/store/apps/details?id=com.mamaitaliano.app" rel="nofollow">
                            <img src="assets/images/google-play-download.svg" alt="">
                            </a></li></ul>
                </div>
                
            </div>
            <div class="footer-menu">
                <p>Меню:</p>
                <ul class="nav flex-column menu-list">
                    <li class="nav-item ">
                        <a  href="">Піца</a>
                    </li>
                    <li class="nav-item">
                        <a  href="">Салати</a>
                    </li>
                    <li class="nav-item">
                        <a  href="">Десерти</a>
                    </li>
                    <li class="nav-item">
                        <a  href="">Напої</a>
                    </li>
                </ul>
            </div>
            <div class="footer-links">
                <p>Про компанію:</p>
                <ul class="nav flex-column menu-list">
                    <li class="nav-item ">
                        <a  href="">Про нас</a>
                    </li>
                    <li class="nav-item">
                        <a  href="">Доставка та оплата</a>
                    </li>
                    <li class="nav-item">
                        <a  href="">Акції</a>
                    </li>
                    <li class="nav-item">
                        <a  href="">Контакти</a>
                    </li>
                    <li class="nav-item">
                        <a  href="">Вакансії</a>
                    </li>
                    <li class="nav-item">
                        <a  href="">Новини</a>
                    </li>
                    <li class="nav-item">
                        <a  href="">Відгук</a>
                    </li>
                </ul>
            </div>
            <div class="footer-address">
                <span>Львів:</span>
                <ul class="nav flex-column menu-list">
                    <li class="nav-item first ">
                        <p  >вул. Пасічна, 181</p>
                    </li>
                    <li class="nav-item">
                        <p >просп. Червоної Калини, 60 (ТЦ Арсен)</p>
                    </li>
                    <li class="nav-item">
                        <p  >вул. Івана Пулюя, 12</p>
                    </li>
                    <li class="nav-item">
                        <p  >вул. Малоголосківська, 16</p>
                    </li>
                    <li class="nav-item">
                        <p >вул. Китайська, 10</p>
                    </li>
                    <li class="nav-item">
                        <p >вул. Івана Франка, 71</p>
                    </li>
                    <li class="nav-item">
                        <p >вул. Залізнична, 19</p>
                    </li>
                </ul>
            </div>
           
        </div>
        
    </div>
</footer>
