<main>
  <div class="section">
    <div class="banner">
      <img src="assets/images/photo_2023-07-31_14-17-44.jpg.webp" alt="" />
      <div class="banner-info">
        <h1 class="title">Про нас</h1>
      </div>
    </div>
    <div class="benefits-wrapper">
      <img
        class="decor-img left rellax"
        src="assets/images/decor-img-6.svg"
        style="transform: translate3d(0px, -29px, 0px)"
      />
      <div class="row benefits-row">
        <div class="d-flex">
          <div class="benefits-item">
            <div class="benefits-img">
              <img src="assets/images/benefits-img-1.svg" alt="" />
              <div class="h5">Італійські продукти найвищої якості</div>
              <div class="benefits-info">
                MA Pizza імпортує продукти топових європейських брендів
              </div>
            </div>
          </div>
          <div class="benefits-item">
            <div class="benefits-img">
              <img src="assets/images/benefits-img-2.svg" alt="" />
              <div class="h5">Неймовірний смак та хрустка скоринка</div>
              <div class=" ">
                MA Pizza готує тісто для піци лише на італійському борошні
                Caputo
              </div>
            </div>
          </div>
          <div class="benefits-item">
            <div class="benefits-img">
              <img src="assets/images/benefits-img-3.svg" alt="" />
              <div class="h5">
                Професійні кухарі та піцайоли майстри своєї справи
              </div>
              <div class=" ">
                У МA Pizza працюють найкращі! Вболіваємо за розвиток кожного
                працівника!
              </div>
            </div>
          </div>
          <div class="benefits-item">
            <div class="benefits-img">
              <img src="assets/images/benefits-img-4.svg" alt="" />
              <div class="h5">
                Безкоштовна та швидка доставка у будь-який куточок м. Львів
              </div>
              <div class=" ">Середній час доставки у зеленій зоні – 29 хв.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-info">
    <div class="conteiner">
      <div class="block-wrapper d-flex">
        <div class="block-info">
          <div class="h2">Як у Львові готують справжню італійську піцу</div>
          <div class="text text-lg">
            <p>
              Готувати справжню італійську піцу можуть або італійці, або ті, хто
              в них навчалися. Серед нас немає італійців, тож нашим завданням
              було перейняти досвід у віртуозів цієї справи. Вважаємо, що це нам
              вдалося! Щодня ми вдосконалюємося, щоб Ви ще більше закохувалися у
              кулінарну спадщину Італії. Оригінальні італійські рецепти,
              імпортні інгредієнти, трішки фантазії та любов до своєї роботи –
              наші основні пріоритети.
            </p>
          </div>
        </div>
        <div class="block-img">
          <img src="assets/images/block-img-1-884x493.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="section-info">
    <div class="conteiner">
      <div class="block-wrapper d-flex">
        <div class="block-img">
          <img src="assets/images/dsc_2950-767x510.jpg" alt="" />
        </div>
        <div class="block-info">
          <div class="h2">Трохи таланту, досвіду та позитиву</div>
          <div class="text text-lg">
            <p>
              Готувати справжню італійську піцу можуть або італійці, або ті, хто
              в них навчалися. Серед нас немає італійців, тож нашим завданням
              було перейняти досвід у віртуозів цієї справи. Вважаємо, що це нам
              вдалося! Щодня ми вдосконалюємося, щоб Ви ще більше закохувалися у
              кулінарну спадщину Італії. Оригінальні італійські рецепти,
              імпортні інгредієнти, трішки фантазії та любов до своєї роботи –
              наші основні пріоритети.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="conteiner">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8 text-center">
          <div class="title-decor h2">
            <span>Імпортні продукти та піца з українською душею </span>
          </div>
        </div>
        <video
          controls
          style="width: 734px; height: 412.875px"
          src="https://mapizza.com.ua/wp-content/uploads/2023/07/ma-pizza-dostavka-piczy-u-lvovi.webm"
        ></video>
        <div class="description-text">
          <p>
            MA Pizza є одним з лідерів на ринку імпортерів харчових продуктів.
            Ми самі обираємо бренди, перевіряємо якість товарів та імпортуємо їх
            до України. Переглянути увесь асортимент та здійснити покупку Ви
            можете у наших маркетах.
          </p>
          <p>
            Мамма імпортує й інгредієнти для піци, яку готують піцайоли у наших
            пекарнях. Запевняємо &nbsp;Вас, що усі продукти, які
            використовуються для приготування піци – найвищої якості. Наприклад:
            тунець для «Тонно», хамон для «Прошуто Крудо» ми веземо з Іспанії;
            помідори для неаполітанського соусу, борошно для тіста – з Італії;
            часто співпрацюємо з польськими та німецькими виробниками продуктів,
            які чудово смакуватимуть у наших стравах.
          </p>
          <p>
            Ми збирали рецепти в Італії, навчалися у майстрів з Неаполя, щоб
            готувати для Вас справжню піцу у неаполітанському стилі.
          </p>
          <p>
            На жаль, ми ще не доставляємо замовлення дронами, але у львівському
            трафіку наші кур’єри почуваються комфортно і доставляють піцу
            вчасно.
          </p>
          <p>Buon Apettito, наші найдорожчі гурмани!</p>
        </div>
      </div>

      <div class="img-info">
        <img src="assets/images/dsc_3010-1.jpg" alt="" />
      </div>
    </div>
  </div>
</main>
